<div class="mb-4">
	<h4>{{burger_name}}</h4>

	<!--Devour! button-->
	<button class="change-devour btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
		<img src="/assets/img/burger_icon.png" width="25px" height="25px" class="mr-1">Devour!
	</button>
</div>